.error{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}